---
import { TIERS } from '../../data/tiers';

const money = (v: number) => `$${v.toFixed(2)}`;
---

<div class="gb-table-wrap" data-rise>
	<table class="gb-table">
		<caption>
			Live-measured footprint × Fly.io rate card (June 2026). Reproduce: make bench-footprint →
			artifacts/footprint-&lt;tier&gt;.json.
		</caption>
		<thead>
			<tr>
				<th scope="col">Tier</th>
				<th scope="col">RAM (running)</th>
				<th scope="col">Services</th>
				<th scope="col">Fly provision</th>
				<th scope="col">Compute</th>
				<th scope="col">Volume</th>
				<th scope="col">Egress</th>
				<th scope="col">All-in / mo</th>
				<th scope="col">Retail</th>
			</tr>
		</thead>
		<tbody>
			{TIERS.map((t) => (
				<tr>
					<th scope="row">{t.name}</th>
					<td class="is-num">{t.ram}</td>
					<td class="is-num">{t.services}</td>
					<td class="is-num">{t.provision}</td>
					<td class="is-num">{money(t.computeUsd)}</td>
					<td class="is-num">{money(t.volumeUsd)} ({t.volumeNote})</td>
					<td class="is-num">{money(t.egressUsd)}</td>
					<td class="is-num is-warn">{t.allIn.replace('≈ ', '')}</td>
					<td class="is-num is-yes">{t.retail}</td>
				</tr>
			))}
		</tbody>
	</table>
</div>
